body,html {
	width: 100%;
	height: 100%;
	margin: 0;
	overflow: hidden;
	cursor: url('images/cursor.png'), auto;
	user-select: none;
}

#desktop {
	width: 100%;
	height: calc(100% - 40px);
	background-image: url("images/background.png");
	background-position: center;
	padding: 10px 10px;
	box-sizing: border-box;
}

#taskbar {
	width: 100%;
	height: 40px;
	background: rgb(8,13,20);
	background-image: url(images/taskbar.png);
}

#startButton {
	float: left;
	width: 48px;
	height: 40px;
	background-image: url(images/start-off.png);
}

#startButton:hover {
	background-image: url(images/start-on.png);
}

#cortana {
	background: rgb(242,242,242);
	width: 392px;
	height: 40px;
	box-sizing: border-box;
	border-top: 1px solid rgb(187,187,187);
}

#cortanaMic {
	float: right;
	width: 40px;
	height: 40px;
	background-image: url(images/cortana-mic-off.png);
}

#cortanaMic:hover {
	background-image: url(images/cortana-mic-on.png);
}

#startMenu {
	width: 50%;
	height: 650px;
	background-image: url(images/start-menu.png);
	position: absolute;
	left: 0px;
	bottom: 40px;
	opacity: .9999999999;
	display: none;
}

#cortana input {
	border: transparent;
	background: transparent;
	outline: none;
	height: 40px;
	color: black;
	font-size: 14.5px;
	width: 265px;
}

::placeholder {
	color: rgb(43,43,43);
}

#cortanaIcon {
	background-image: url(images/cortana-icon.png);
	width: 39px;
	height: 39px;
	float: left;
}

.icon {
	width: 76px;
	height: 70px;
	padding-top: 10px;
	user-select: none;
}

.icon:hover {
	background: rgb(59,89,121);
	border: 1px solid rgb(108,130,153);
	margin: -1px;
}

.icon span {
	color: white;
	font-size: 13px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.popup {
	width: 400px;
	height: 200px;
	position: absolute;
	top: calc(50% - 100px);
	left: calc(50% - 200px);
	background: white;
	border: 1px solid #1883d7;
}

.title {
	width: 100%;
	height: 30px;
}

.title p {
	height: 30px;
	margin: 0px;
	vertical-align: middle;
	display: table-cell;
	padding-left: 10px;
	padding-top: 5px;
	float: left;
}

.close {
	height: 30px;
	width: 49px;
	float: right;
	background: url(images/close_off.png);
	display: table-cell;
}

.close:hover {
	background: url(images/close_on.png);
}

.minimize {
	background-image: url(images/minimize_off.png);
	height: 30px;
	width: 49px;
	float: right;
}

.minimize:hover {
	background-image: url(images/minimize_on.png);
	height: 30px;
	width: 49px;
	float: right;
}

.maximize {
	background-image: url(images/maximize_off.png);
	height: 30px;
	width: 49px;
	float: right;
}

.maximize:hover {
	background-image: url(images/maximize_on.png);
	height: 30px;
	width: 49px;
	float: right;
}

.content {
	padding: 10px 10px;
}